@import '../fonts/fontsface';
//back ground
$bg-white-primary: #ffffff;
$bg-white-dark: #cccccc;
$bg-white-light: #ffffff;

$bg-black-primary: #000000;
$bg-black-light: #2c2c2c;
$bg-black-dark: #000000;

$fs-m: 12px;
$fs-b: 20px;
$fs-lg: 40px;
// weight
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;
$fw-black: 900;

// font-family
$ff-p-t: "Lato_thin";
$ff-p-l: "Lato_Light";
$ff-p-r: "Lato_Regular";
$ff-p-b: "Lato_Bold";
$ff-p-bk: "Lato_Black";
